services:
    app:
        build: .
        container_name: dummytool1
        restart: unless-stopped
        environment:
            - NODE_ENV=production
            - NEXTAUTH_URL=https://dummytool1.duckdns.org
            - NEXT_PUBLIC_BACKEND_URL=https://back-end-team32-wpp-team-32.apps.okd.ucll.cloud
            - NEXTAUTH_SECRET=gqtiegBqprRUhZvcMEYEiZyZYOIKsipo
            - KEYCLOAK_ISSUER=https://keycloak-wpp-team-32.apps.okd.ucll.cloud/realms/ucll
            - KEYCLOAK_CLIENT_ID=dummytool1
            - KEYCLOAK_CLIENT_SECRET=SvKLah10W0IxEsyRchuGoh0O38g8712L
        ports:
            - "3000:3000"
        labels:
            - "traefik.enable=true"
            - "traefik.http.routers.dummytool1.rule=Host(`dummytool1.duckdns.org`)"
            - "traefik.http.routers.dummytool1.entrypoints=websecure"
            - "traefik.http.routers.dummytool1.tls.certresolver=myresolver"
            - "traefik.http.services.dummytool1.loadbalancer.server.port=3000"
            - "traefik.http.routers.dummytool1-http.rule=Host(`dummytool1.duckdns.org`)"
            - "traefik.http.routers.dummytool1-http.entrypoints=web"
            - "traefik.http.routers.dummytool1-http.middlewares=redirect-to-https"
